# Visual Studio
.vs/
*.suo
*.user
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.ipch

# Build folders
Debug/
Release/
x64/
x86/

# Build outputs
*.obj
*.o
*.pch
*.ilk
*.pdb
*.idb
*.exe
*.dll
*.lib
*.exp
*.map

# Temporary files
*.tmp